.Card.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 20px;
}

.Card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 10;
}

.Card .flip {
  transform: rotateY(180deg);
}

.Card .front,
.Card .back {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.Card .front {
  background-color: #bbb;
  color: black;
}

.Card .back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
