* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.Main {
  min-height: 100vh;
  background-color: #cb958e;
}
h1 {
  text-align: center;
}
.Main ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Main #button-container {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
}

.Main #button-container button {
  margin: 5px;
  padding: 5px;
}

.hidden {
  display: none !important;
}
