* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.Main {
  height: 100vh;
}
.Main ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Main #button-container {
  display: flex;
  justify-content: space-around;
}
